<?xml version="1.0" encoding="UTF-8"?>
<java version="10.0.2" class="java.beans.XMLDecoder">
 <object class="java.util.HashMap">
  <void method="put">
   <string>as</string>
   <object class="fluffy.network.camera.model.CameraModel">
    <void property="angle">
     <string>0.0</string>
    </void>
    <void property="description">
     <string>sdf</string>
    </void>
    <void property="link">
     <string>af</string>
    </void>
    <void property="name">
     <string>as</string>
    </void>
    <void property="zoom">
     <string>1</string>
    </void>
   </object>
  </void>
  <void method="put">
   <string>asd</string>
   <object class="fluffy.network.camera.model.CameraModel">
    <void property="angle">
     <string>0.0</string>
    </void>
    <void property="description">
     <string>adf</string>
    </void>
    <void property="link">
     <string>asd</string>
    </void>
    <void property="name">
     <string>asd</string>
    </void>
    <void property="zoom">
     <string>1</string>
    </void>
   </object>
  </void>
  <void method="put">
   <string>xxf</string>
   <object class="fluffy.network.camera.model.CameraModel">
    <void property="angle">
     <string>0.0</string>
    </void>
    <void property="description">
     <string>dfds</string>
    </void>
    <void property="link">
     <string>dfsd</string>
    </void>
    <void property="name">
     <string>xxf</string>
    </void>
    <void property="zoom">
     <string>1</string>
    </void>
   </object>
  </void>
  <void method="put">
   <string>Webcam</string>
   <object class="fluffy.network.camera.model.CameraModel">
    <void property="angle">
     <string>0.0</string>
    </void>
    <void property="description">
     <string>webcam</string>
    </void>
    <void property="name">
     <string>Webcam</string>
    </void>
    <void property="zoom">
     <string>1</string>
    </void>
   </object>
  </void>
 </object>
</java>
