<?xml version="1.0" encoding="UTF-8"?>
<java version="10.0.2" class="java.beans.XMLDecoder">
 <object class="java.util.HashMap">
  <void method="put">
   <string>t</string>
   <object class="fluffy.network.camera.model.CameraModel">
    <void property="angle">
     <string>0.0</string>
    </void>
    <void property="description">
     <string>t</string>
    </void>
    <void property="name">
     <string>t</string>
    </void>
    <void property="zoom">
     <string>1</string>
    </void>
   </object>
  </void>
 </object>
</java>
